# MindScape API Keys
# Rename this file to .env and fill in your keys

# OpenRouter (DeepSeek)
OPENAI_API_KEY="key"
OPENAI_BASE_URL=https://api.zyai.online/v1

# Alternatively, Google Gemini
GEMINI_API_KEY="key"
